<h3 class="title has-text-centered is-size-1">Flight Details </h3>
<div class="container">
  <% @booking.passengers.each do |p| %>
    <div class="box title has-background-grey-light has-text-centered is-size-3">
      <p>Departure Time: <%= @booking.flight.flight_day.strftime("%d-%m-%y %I:%M") %></p>
      <p>Departure Airport: <% @da = Airport.find_by(id: @booking.flight.departure_airport_id) %> <%= @da.airport_code %> </p>
      <p>Arrival Airport: <% @aa = Airport.find_by(id: @booking.flight.arrival_airport_id) %> <%= @aa.airport_code %> </p>
      <p>Flight Duration In Hours: <%= @booking.flight.flight_duration %> </p>
      <p>Passenger Details: <br>   Passenger name: <%= p.name %><br>   Passenger Email: <%= p.email %></p>
    </div>
  <% end %>
  <%= link_to "home", root_path, class:"button is-link is-primary" %>
  </div>
</div>